{% extends "main_page.html" %}
{% block content %}
    <br><br><br><h3>O mnie:</h3>
    <p>Pasję do haftu zaszczepiła we mnie Mama, której jestem za to bardzo wdzięczna.
        Na białej, czystej kanwie powstają niepowtarzalne rzeczy.
        Można wyczarować wszystko...</p>
    <p>Drogi kliencie, <br>jeżeli nie znalazłeś na stronie nic dla siebie
    zapraszam do kontaktu mailowego na adres: chatka.regisa@gmail.com</p>
    <p>Realizuję nietypowe projekty: <a href="https://www.facebook.com/356232168094854/photos/a.356240184760719.1073741828.356232168094854/401414716909932/?type=3&theater">link</a></p>
    <p>Pomysł zrealizowany na postawie:
    <a href="https://lukkiluke.blogspot.com/2016/08/historyczna-relacja-z-otwierania.html?m=1">
        Paragraf 22 i pół
    </a> </p>
{% endblock %}