<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Made by M</title>
    <style>


    </style>
</head>
<body>
<h2>Made by M</h2>
{% block content %}
<h2>Strona główna</h2>
<ul>
  <li><a href="{% url 'offer'%}">Oferta</a>
    <ul>
        <li><a href="{% url 'pictures' %}">Obrazy</a></li>
        <li><a href="{% url 'cushions' %}">Poduszki</a></li>
    </ul>
  </li>
  <li><a href="{% url 'about' %}">O mnie</a>
    <ul>
        <li><a href="{% url 'desc' %}">Opis</a></li>
        <li><a href="">Facebook</a></li>
    </ul>
  </li>
  <li><a href="{% url 'contact' %}">Kontakt</a></li>
</ul>

{% endblock %}

<!--{% block footer %}-->
<!--Stopka-->
<!--{% endblock %}-->
</body>
</html>