{% extends "main_page.html" %}
{% block content %}
    <img src='{{ picture.image.url }}'/>
    <h3>Szczegóły:</h3>
    <ul>
        <p>Kategoria: {{ picture.get_category_display }}</p>
        <p>Kolor ramki: {{ picture.get_frame_color_display }}</p>
        <p>Rodzaj szkła: {{ picture.get_glass_display }}</p>
        <p>Rozmiar: {{ picture.size }}</p>

        {% if picture.passe_partout == False %}
            Passe-partout: Brak
        {% else %}
            Passe-partout: Zastosowano
        {% endif %}

        <p>Cena: {{ picture.price }} zł</p>
        <p>Opis: {{ picture.description }}</p>
    </ul>
{% endblock %}