<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Made By M - start</title>
    <style>
        .logo {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="logo">
    <img src="../../media/17499110_387756601609077_2741518027806609939_n.png" width="620" height="218">
</div>
    <h1>Witaj na stronie</h1>
    <a href="{% url 'register' %}">Zarejestruj się</a>
    <p>Posiadasz już konto?</p>
    <a href="{% url 'login' %}">Zaloguj się</a>
</body>
</html>